body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
    font-family: sans-serif
        /* shorthand for TOP RIGHT BOTTOM LEFT */
        /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
    margin-bottom: 3px;
    margin top: 3px
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: black;
    padding: 2em 0;
    text-align: center;
    color: white
}

.hero {
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    height: 500px;
    background-position: bottom;
    margin: 20px 0;
    font-family: cursive;
    text-decoration: underline overline;
    text-decoration-color: white;
    text-decoration-style: wavy
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.item {
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;

}

.item2 {
    float: left;

}

main {
    margin-bottom: 2em;
}
